p
	{
		font-family: Verdana;
		color: #000000;
	}

table
	{
		border:1px solid blue;
		border-collapse: collapse;
		width:500px;
		text-align: center;
	}

tr,td,th
	{
		border: 2px solid black;
	}

header
	{
		background-color: #225599;
		padding: 30px;
		color: #abcdef;
		text-align: center; 
	}

ul
	{
		/*text-decoration: none;*/
		list-style-type: none;
	}

nav
	{
		float: left;
		width: 30%;
		height: 500px;
		background: #ffb6c1;
	}

article
	{
		float:left;
		width: 70%;
		background:#c0d6e4;
		height: 500px;

	}

footer
	{
		text-align: center;
		padding: 10px;
		background: #b1bca0;
	}

.topbar
	{
		float: left;
		width: 100%;
		background:purple;
	}

.logo
	{
		float: left;
		width: 30%;
	}

.menu
	{
		float:left;
		width: 70%;
	}

.slideshow
	{
		float:left;
		width: 100%;
		height: 600px;
		background:orange;
	}

.kotak1
	{
		float: left;
		width: 20%;
		height: 285px;
		background:#54d157;
	}

.kotak2
	{
		float: left;
		width: 20%;
		height: 285px;
		background:#ff9400;
	}

.kotak3
	{
		float: left;
		width: 20%;
		height: 285px;
		background:#c22c4e;
	}

.kotak4
	{
		float: left;
		width: 20%;
		height: 285px;
		background:#5faca1;
	}

.kotak5
	{
		float: left;
		width: 20%;
		height: 285px;
		background:#541d8b;
	}

.footer
	{
		float: left;
		width: 100%;
		background:#e82cb5;
	}

.peta
	{
		float: left;
		width: 100%;
	}

